@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <button onclick="sendData()">SendData</button>
    <button onclick="openValve()">OpenValve</button>
    <button onclick="readSensor()">ReadSensor</button>
</div>